/* #region Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/* #endregion Global Styles */
/*#region Base Styles*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  /* width: 1440px;*/
}

h2 {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
}

footer {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 312px;
  padding: 100px 1020px 100px 156px;
}

ul,
ol {
  list-style: none;
}
/*#endregion Base Styles*/

/* #region nav */
header {
  width: 1140px;
  height: 72px;
  margin: 0 auto;
  padding: 24px 156px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
  margin-right: 76px;
  display: inline-block;
}

.main-nav {
  margin-right: 332px;
  display: inline-block;
}
.main-nav-list {
  width: 261px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.main-nav-link {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-info {
  /* width: 344px;
  height: 24px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  margin-left: 0 auto;
}
.contact-info-item {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: inline-block;
}
/* #endregion nav */

/* #region hero */

.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  display: flex;
  justify-content: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;

  align-items: center; /* центрує текст вертикально, не було в фігмі */
  justify-content: center;
}

/* #endregion hero */

/* #region features */
.features {
  width: 1440px;
  height: 344px;
  display: flex;
  justify-content: center;
  padding: 120px 156px;
}
.features-list {
  width: 1128px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.feature-list-item {
  width: 264px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

/* #endregion features */

/* #region team */
.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  display: flex;
  justify-content: center;
}

.team-list {
  width: 1116px;
  height: 374px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 126px;
  padding: 287px 15px 32px 15px;
}

.team-member {
  background-color: white;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 252px;
  height: 374px;
}

.team-photo {
  width: 252px;
  height: 255px;
}

.team-item-name {
  width: 222px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.team .contact-info {
  font-style: normal;
}

.team .section-title {
  margin-bottom: 72px;
  margin-top: 120px;
  width: 264px;
  align-items: center;
}

.team-name,
.team-role {
  text-align: center;
}

/* #endregion features */

/* #region portfolio */
.portfolio {
  width: 1440px;
  height: 1240px;
  display: flex;
  justify-content: center;
  padding: 120px 156px;
}

.portfolio h2 {
  margin-bottom: 72px;
  width: 218px;
  align-items: center;
}

.portfolio-list {
  width: 1116px;
  height: 374px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  column-gap: 48px;
}

.portfolio-item {
  /*width: calc((100%-24px * 3) / 4);*/
  width: 360px;
  height: 420px;
}

.portfolio-thumb {
  width: 252px;
  height: 255px;
}
.portfolio-item-frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-item-name {
  width: 328px;
  height: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

/* #endregion portfolio */
/* #region footer */
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
  width: 115px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  box-sizing: border-box;
}

.logo-web {
  color: #4d5ae5;
}

.footer-decor {
  width: 264px;
  display: flex;
}

/* #endregion footer */

.contact-info-item:hover,
.contact-info-item:focus,
.main-nav-link:hover,
.main-nav-link:focus {
  color: #404bbf;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
