/* #region Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red;*/
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion Global Styles */
/*#region Base Styles*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

p {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
}

.section {
  padding: 120px 0;
}
.section-title {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

/*#endregion Base Styles*/

/* #region nav */
.site-header {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
 padding: 24px 156px;  висота формується падінгами у посиланнях */
  border-bottom: 1px solid #e7e9fc;
}
.site-header .container {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  display: flex;
  align-items: center;
  /* justify-content: flex-start;*/
  flex-direction: row;
  gap: 0px;
  /*width: 115px;
  height: 24px;*/
  margin-right: 76px;
  display: inline-block;
  padding: 24px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}
.main-nav-list {
  display: flex;
  align-items: center;
  /*width: 261px;
  height: 24px;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-right: 332px;
}

.main-nav-link {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0; /* висота формується падінгами */
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}
.contact-info-list {
  /* width: 344px;
  height: 24px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-left: 0 auto;
}
.contact-info-item {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  font-style: normal;
}
/* #endregion nav */

/* #region hero */

.hero {
  background-color: #2e2f42;
  /*width: 1440px;*/
  /*height: 600px;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: none;

  align-items: center; /* центрує текст вертикально, не було в фігмі */
  justify-content: center;
}

/* #endregion hero */

/* #region features */
.features {
  display: flex;
  justify-content: center;
}
.features-list {
  width: 1128px;
  /*height: 104px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.feature-list-item {
  width:/* 264px;*/ calc((100% - (24px * 3)) / 4);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.feature-title {
  margin-bottom: 8px;
}

/* #endregion features */

/* #region team */

.team .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  width: 1116px;
  height: 374px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 36px;
  margin-top: 72px;
  /*padding: 0px 0px 32px;*/
}

.team-member {
  background-color: white;
  border-radius: 0 0 4px 4px;

  width: calc((100% - (36px * 3)) / 4);
}

.team-photo {
  width: 264px;
}

.team-item-name {
  width: 222px;
  /*height: 55px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.team .contact-info {
  font-style: normal;
}

.team .section-title {
  width: 264px;
  align-items: center;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
}

.team-name,
.team-role {
  text-align: center;
}

/* #endregion features */

/* #region portfolio */

.portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio h2 {
  width: 218px;
  display: inline-block;
  white-space: nowrap;
  /*display: flex;*/
  align-items: center;
  /*margin: 0 auto;
  margin-bottom: 72px;
  display: row;*/
  text-align: center;
  margin: 0 auto;
}

.portfolio-list {
  /*width: 1116px;
  height: 374px;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}

.portfolio-item {
  width: calc((100% - (24px * 2)) / 3);
  height: 420px;
}

.portfolio-item-frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-item-name {
  width: 328px;
  height: 56px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

/* #endregion portfolio */
/* #region footer */

.site-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.site-footer .container {
  display: flex;
  justify-content: flex-start;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
  width: 115px;
  /*height: 24px;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.logo-web {
  color: #4d5ae5;
}

.footer-decor {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 0;
}

.footer-desc {
  color: #f4f4fd;
}

/* #endregion footer */

.contact-info-item:hover,
.contact-info-item:focus,
.main-nav-link:hover,
.main-nav-link:focus {
  color: #404bbf;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
