body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
}

footer {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
}

ul,
ol {
  list-style: none;
}

.contact-info {
  font-style: normal;
}

.hero {
  background-color: #2e2f42;
}

.main-nav-link {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.contact-info-item {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo-web {
  color: #4d5ae5;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
}

.team {
  background-color: #f4f4fd;
}

.team-member {
  background-color: white;
}

.team-name,
.team-role {
  text-align: center;
}

.contact-info-item:hover,
.contact-info-item:focus,
.main-nav-link:hover,
.main-nav-link:focus {
  color: #404bbf;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
